.modal {
  background: var(--black);
  color: var(--white);
  padding: 16px 24px;
  border-radius: 6px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 65px;
  position: flex;
}

.modal__body {
  flex-grow: 1;
}

.modal__header {
  display: flex;
  justify-content: center;
}
