.auth {
  background: var(--black);
  color: var(--white);
  padding: 16px 24px;
  border-radius: 6px;
  box-shadow: var(--shadow);
  display: grid;
  justify-items: center;
  grid-template-rows: 40px auto;
  gap: 65px;
}

.auth__header {
  display: flex;
  justify-content: center;
}

.auth-form {
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.auth-form__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form__footer {
  flex: 0 0 auto;
}

.auth-form__body--register {
  height: 56vh;
  overflow: auto;
}
