.modal {
  background: var(--black);
  color: var(--white);
  padding: 16px 24px;
  border-radius: 6px;
  box-shadow: var(--shadow);
  display: grid;
  justify-items: center;
  grid-template-rows: 40px auto;
  gap: 65px;
  position: flex;
}

.modal__body {
}

.modal__header {
  display: flex;
  justify-content: center;
}
