.messanger__chat {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.chat__container {
  height: 100%;
  width: 700px;
  display: grid;
  padding: 12px 0;
  grid-template-rows: auto 150px;
  row-gap: 12px;
}

.chat__input-area {
  display: grid;
  grid-template-columns: 70px auto 70px;
  column-gap: 12px;
}

.chat__message-form {
  display: grid;
  grid-template-rows: 70px 70px;
  row-gap: 10px;
}

.message-form__textarea-wraper {
  position: relative;
}

.message-form__textarea {
  resize: none;
  height: 70px;
  padding-left: 8px;
  padding-right: 55px;
}

.message-form__textarea::placeholder {
  color: var(--white);
}

.message-form__options {
  position: absolute;
  width: 50px;
  height: 70px;
  top: 0;
  right: 0;
  cursor: pointer;
}

.message-form__action-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.action-line__emoji-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.emoji {
  width: 30px;
  height: 30px;
}

.sticker {
  width: 150px;
}

.button_transparent_send {
  width: 100px;
  height: 30px;
  justify-content: flex-end;
  font-size: 18px;
  color: var(--accent);
}

.button_transparent_send:hover {
  color: var(--accentFocus);
}

.chat__messages-area {
  display: flex;
  flex-direction: column-reverse;
  padding: 12px;
  gap: 20px;
  overflow: auto;
  height: calc(100vh - 260px);
}
