.messages-area__message {
  display: grid;
  grid-template-columns: 50px auto 50px;
  column-gap: 12px;
}

.messages-area__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.content__author {
  color: var(--accent);
  text-shadow: 0 0 2px #000;
  font-size: 18px;
}

.content__message {
  color: var(--white);
  font-family: var(--secondFont);
  font-size: 16px;
  white-space: pre-line;
}

.messages-area__time {
  color: var(--white);
  text-shadow: 0 0 2px #000;
}

.messanger__chat-blank {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: var(--accent);
  text-shadow: 0 0 2px #000;
}
